{namespace be = TYPO3\CMS\Backend\ViewHelpers}
{namespace tn = Kdstotop\Kdstotop\ViewHelpers}
<link rel="stylesheet" href="{f:uri.resource(path:'Css/kdstotop_be.css',extensionName: 'kdstotop')}">
<f:variable name="beuser" value='<tn:getUserData uid="{cruser_id}"/>'/>
<div class="row kdstotop-row p-4 m-1">
    <div class="col-12 col-lg-6 position-relative">
        <be:link.editRecord uid="{uid}" table="tt_content" class="stretched-link">
            <h4 class="fw-bold text-white fst-italic">
                <f:image src="typo3conf/ext/kdstotop/Resources/Public/Icons/Extension.svg" width="25" class="me-1"/>
                <f:translate key="LLL:EXT:kdstotop/Resources/Private/Language/locallang_db.xlf:kdstotop"/>
            </h4>
        </be:link.editRecord>
    </div>
    <div class="col-12 col-lg-6">
        <div class="col-12 d-flex justify-content-end">
            <f:image src="typo3conf/ext/kdstotop/Resources/Public/Icons/sign.svg" width="30" class="kds-kdstotop-sign"
                     additionalAttributes="{data-bs-target:'#collapseExample{uid}',data-bs-toggle:'collapse'}"/>
        </div>
    </div>
    <div class="collapse col-12" id="collapseExample{uid}">
        <div class="card card-body card-dark mt-1">
            <div class="row">

                <div class="col-12">
                    <table class="table table-responsive table-kds-ce">
                        <tr>
                            <td><f:translate key="LLL:EXT:kdstotop/Resources/Private/Language/locallang_db.xlf:kdstotop.createdby"/></td>
                            <td>{beuser.0.userName}</td>
                        </tr>
                        <tr>
                            <td><f:translate key="LLL:EXT:kdstotop/Resources/Private/Language/locallang_db.xlf:kdstotop.createdate"/></td>
                            <td><f:format.date date="{crdate}" format="d.m.Y H:i:s"/></td>
                        </tr>

                    </table>
                </div>
                <div class="col-12">
                    unten
                </div>
            </div>
        </div>
    </div>
</div>