.kdstotop-row {
    background-color: #333
}
.kdstotop-row .card-dark,table.table-kds-ce td {
    background: #444!important;
    border: 1px solid #555!important;
    color:#fff!important;
}

.kds-totop-sign {
    cursor: pointer !important;
    animation: pulse 2s infinite
}

@keyframes pulse {
    0% {
        transform: scale(0.91)
    }
    70% {
        transform: scale(1)
    }
    100% {
        transform: scale(0.91)
    }
}