<script>
    window.addEventListener('DOMContentLoaded', function () {
        var symbol = '<f:image image="{images.0}" width="{flexform.imagewidth}" height="{flexform.imageheight}" class="{flexform.cssclass}"/>';
        var speed = '{flexform.speed}';
        var position = '{flexform.position}';
        var space = '{flexform.space}';
        var title = '{flexform.title}';
        var xs = '{flexform.xs}';
        var sm = '{flexform.sm}';
        var md = '{flexform.md}';
        var lg = '{flexform.lg}';
        var xl = '{flexform.xl}';
        var xxl = '{flexform.xxl}';
        var show = '{flexform.show}';
        var pulse = '{flexform.pulse}';
        var easing = '{flexform.easing}';
        flight(symbol, speed, position, space, title, xs, sm, md, lg, xl, xxl, show, pulse, easing)
    })</script>